{% extends "base.html" %}

{% block footer %}
<div class="visitor-ticker-wrapper">
  <div class="visitor-ticker-content">
    <span class="visitor-ticker-text">
      // <span id="visit-count">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
    </span><span class="visitor-ticker-text" aria-hidden="true">
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
      // <span class="visit-count-clone">------</span> VISITORS IN THE OVERDRIVE &nbsp;
    </span>
  </div>
</div>
{{ super() }}
{% endblock %}
